button {
  border-radius: 0.5rem;
  padding: 0.25rem 0.75rem;
  border: 2px;
  box-shadow: 0px 14px 55px rgba(39, 66, 101, 0.35);
  transition-duration: 200ms;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

button:hover {
  opacity: 0.8;
}

.iconButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  border: none;
  color: inherit;
  font-size: 1.5rem;
  cursor: pointer;
}

.iconButton .tooltip {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.iconButton:hover .tooltip {
  opacity: 1;
  visibility: visible;
}
